body {
    font-family: 'Lora', serif;
    color: whitesmoke;
    background: linear-gradient(41deg, #8789a1, #2e7673, #ccc4d9);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 14s ease infinite;
    -moz-animation: AnimationName 14s ease infinite;
    animation: AnimationName 14s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position: 0% 50%}
    50%{background-position:100% 50%}
    100%{background-position: 0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position: 0% 50%}
    50%{background-position:100% 50%}
    100%{background-position: 0% 50%}
}
@keyframes AnimationName { 
    0%{background-position: 0% 50%}
    50%{background-position:100% 50%}
    100%{background-position: 0% 50%}
}

#ashley {
    text-align: center;
    padding: 15px;
}

#ashleyBio {
    text-align: left;
    max-width: 60%;
    margin-top: 100px;
    padding: 20px;
    align-content: center;
}

#aboutMe {
    text-align: left;
    margin-bottom: 15px;
}

#headshot {
    max-width: 250px;
    height: 250px;
    border-radius: 10px;
    align-content: center;
    margin-bottom: 15px;
}

#contact {
    max-width: 40%;
    padding: 20px;
    margin-left: 15px;
}

/*This content is active on contact.html document only.*/
#contact-label {
    position: absolute;
    left: 360px;
}

form {
    padding: 80px 40px 20px 40px;
    width: 100%;
}

#inputtext3 {
    height: 200px;
}

.btn {
    color:rgb(1, 1, 82);
    background-color: lightslategray;
}

.btn:hover {
    background-color: lightslategray;
}

.portfolio-links {
    height: 200px;
    width: 200px;
}

.portfolioItems {
    padding: 20px;
    text-align: center;
}

.labels {
    color: whitesmoke;
}


