/*This content is active in all html documents.*/
.header-content {
    text-align: center;
    padding: 20px;
    background-image: url("images/dark-paths.png");
    color: whitesmoke;
}

body {
    font-family: 'Lora', serif;
    color: rgb(1, 1, 82);
    background-color: whitesmoke;
    overflow: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-link {
    color: whitesmoke;
}

.body-container {
    overflow:auto;
    padding: 40px 20px 40px 20px;
    border: 2px dotted;
    margin: 40px 300px;
   
    
}
.navbar {
    background-image: url("images/dark-paths.png");
    width: 100%;
    color: whitesmoke;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    position: sticky;
}

.navbar-text {
    font-size: 10px;
    opacity: .5;
}

.nav-link:hover {
    color: lightslategray;
}

.mt-0 {
    text-align: justify;
}


/*This content is active on contact.html document only.*/
#contact-label {
    position: absolute;
    left: 360px;
}

form {
    padding: 80px 40px 20px 40px;
    width: 100%;
}

#inputtext3 {
    height: 200px;
}

.btn {
    color:rgb(1, 1, 82);
    background-color: lightslategray;
}

.btn:hover {
    background-color: lightslategray;
}

.portfolio-links {
    height: 200px;
    width: 200px;
}

.col-md-4 {
    margin-left: 100px;
    padding-bottom: 20px;
}

.portfolio-position {
    width: 80%;
}


.labels {
    padding: 10px;
    background-color: whitesmoke;
}
#abstract {
    position: absolute;
    bottom: 40px;
    width: 200px;
    text-align: center;
    border: rgb(1, 1, 82) solid;
}

#animals {
    position: absolute;
    bottom: 40px;
    width: 200px;
    text-align: center;
    border: rgb(1, 1, 82) solid;
}

#food {
    position: absolute;
    bottom: 40px;
    width: 200px;
    text-align: center;
    border: rgb(1, 1, 82) solid;
}

#nature {
    position: absolute;
    bottom: 40px;
    width: 200px;
    text-align: center;
    border: rgb(1, 1, 82) solid;
}

#transport {
    position: absolute;
    bottom: 40px;
    width: 200px;
    text-align: center;
    border: rgb(1, 1, 82) solid;
}


